<html>
    <body>
        <p>Main Page</p>
        <a href="movies/searchMoviePage">searchMoviePage</a><br/>
        <a href="/movies">createMoviePage</a><br/>
        <a href="/users">Edit Users</a>
    </body>
</html>